
:root {
  --page-background-color: #d1b3d1;

  //Override element plus variables
  --primary-color: #7d4e7e;
  --highlight-color: #9E619E;

  --button-active-bg-color: #492d49;
  --button-hover-bg-color: var(--highlight-color);
  --button-disabled-bg-color: #8C8C8C;

  --el-color-primary: var(--primary-color);
  --el-button-primary-bg-color: var(--el-color-primary);
  --el-button-primary-border-color: var(--el-color-primary);
  --el-button-primary-text-color: #fff;

  --el-font-size-base: 16px;
  --el-select-width: 250px;
  }

  //global styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: var(--page-background-color);
  }
  
  #app {
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: column;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }

  hr {
    margin: 0.5em 0;
    border-top: 1px solid var(--highlight-color);
    width: 100%;
  }

  //Override element plus
  .el-select {
    --el-select-width: 220px;
  }

  .el-button {
    &:active {
      --el-button-active-bg-color: var(--button-active-bg-color);
      --el-button-active-border-color: var(--button-active-bg-color);
    }
    &:hover {
      --el-button-hover-bg-color: var(--button-hover-bg-color);
      --el-button-hover-border-color: var(--button-hover-bg-color);
    }
    &.is-disabled {
      --el-button-disabled-bg-color: var(--button-disabled-bg-color);
      --el-button-disabled-border-color: var(--button-disabled-bg-color);
    }

    &:focus {
      outline: 2px solid var(--el-color-primary);
    }
  }
  
